

.hero__section{
  background: var(--hero-bg);
  margin-bottom:40px;
  padding: 80px 0 !important;
}


.hero__content h2{
  color: var(--primary-color);
  font-size:2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}


.hero__content p{
  color:var(--primary-color);
  line-height: 28px;
}

.hero__section p:nth-child(1){
  font-weight: 500;
}

.buy__btn{
  border: none;
  outline: none;
  padding: 8px 20px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
  border-radius: 5px;
}

.buy__brn a:hover{
  color:#fff;
}




.timer__count{
  background: var(--primary-color);
  height: 300px;
}

.timer__count img{
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}

.store__btn{
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.store__btn a:hover{
  color: var(--primary-color);
}

.home__sport{
  display: flex;
  justify-content:center;
}
.home__sport button{
  border: none;
  outline: none;
  padding: 8px 20px;
  background: var(--font-100);
  color: var(--font-500);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
  border-radius: 10px;
  margin-right: 10px;
}


.home__sport button.active{
  background: var(--primary);
  color: #fff;
}