.regWrap {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 1000px;
}

.regMain{
    width: 640px;
}

.regBanner{
    border: 1px solid green;
    position: absolute;
    top: 91px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-600);
    color: white;
    font-weight: bold;
}

.regTitle {
    position: relative;
    border-radius: 8px;
    height: auto;
    padding: 24px;
    margin-bottom: 13px;
    background-color: rgba(0, 128, 0, 0.221);
}

.regTitle > h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 16px;
}

.regTitle > input {
    padding-left: 180px;
    width: 500px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid rgb(221, 221, 221);
    transform: translate(8%);
}

.regSelectorFirst {
    margin-bottom: 13px;
    position: relative;
    border-radius: 8px;
    height: auto;
    padding: 24px;
    background-color: rgba(0, 128, 0, 0.221);
}

.regSelectorFirst > h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 16px;
}

.regSelectorFirst select {
    border-radius: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
    transform: translate(22%);
    padding-left: 70px;
}

.regSelectorSecond {
    margin-bottom: 13px;
    position: relative;
    border-radius: 8px;
    height: auto;
    padding: 24px;
    background-color: rgba(0, 128, 0, 0.221);
}

.regSelectorSecond > h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 16px;
}

.regSelectorSecond select {
    border-radius: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
    transform: translate(22%);
    padding-left: 70px;
}

.regSelectorDate {
    margin-bottom: 13px;
    position: relative;
    border-radius: 8px;
    height: auto;
    padding: 24px;
    background-color: rgba(0, 128, 0, 0.221);
}

.regSelectorDate > h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 16px;
}

.regSelectorDate input {
    border: 1px solid red;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
    transform: translate(22%);
    padding-left: 60px;
}

.regCost {
    margin-bottom: 13px;
    position: relative;
    border-radius: 8px;
    height: auto;
    padding: 24px;
    background-color: rgba(0, 128, 0, 0.221);
}

.regCost h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 16px;
}

.regCost input {
    border-radius: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(221, 221, 221);
    transform: translate(22%);
}

.regCost > p {
    position: absolute;
    bottom: 35px;
    left: 220px;
}

.regFoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.regFoot > p {
    margin-bottom: 10px;
    font-size: smaller;
}

.regCheck button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 8px;
}