
.header{
  width: 100%;
  height: 90px;
  line-height: 90px;
  box-shadow: 3px 3px 8px -3px #ddd;
}

.sticky__header{
  width: 100%;
  height: 90px;
  line-height: 90px;
  position: sticky;
  top:0;
  left:0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

.container{
  position: relative;
}

.container h3{
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.nav__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.logo img{
  width: 1.5rem;
  height: 1.5rem;
}

.logo h1{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.menu{
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0px;
}


.nav__item a{
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}


.nav__icons{
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}


.nav__icons span i{
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}



.alarm{
  position: relative;
  z-index: 9;
}


.alarm__list{
  position: absolute;
  top:80%;
  left: 0;
  transform: translateX(-50%);
  width: 300px;
  z-index: 10;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  box-shadow: 3px 3px 8px -3px #ddd;
  display: none;
}

.show__alarm{
  display: block;
}

.alarm__list ul{
  margin:0px;
  padding-left: 10px;
}

.alarm__list ul a li {
  width: 250px;
  padding:10px 0px;
}


.alarm__list ul li p:first-child{
  font-size: .6rem;
}

.alarm__list ul li p:nth-child(2):hover{
  text-decoration: underline;
  cursor: pointer;
}
.alarm__list p{
  font-size: 0.8rem;
  color: var(--font-700);
}

.badge{
  position: absolute;
  top:32%;
  right: 0;
  width: 14px;
  height: 14px;
  content:'';
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 600;
  z-index: 10;
}

.nav__icons span img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.mobile__menu {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}

.nav__active{
  font-weight: 800 !important;
}


span.btn01{
  padding: 12px 20px;
  background-color: var(--primary-600);
  color: #fff;
  border-radius: 5px;
  font-size: .9rem;
}


span.btn02{
  padding: 15px 20px;
  background-color: var(--primary-800);
  color: #fff;
  border-radius: 10px;
}

span.btn02 i{
  color: #fff;
}